# This is an example configuration file for an aa436.py Agent called "example.config".

# Specify a file to include which contains additional directives to be
# sent to this agent.  Includes usually contain generic configuration for
# a platform type (for example, the "ps" command to use for a particular
# Unix flavour), or shared configuration to be used by a number of hosts
# which form a cluster.
include:           macosx_generic
include:           cluster_1

# Match the string "this_pattern_here" in the file "test.log" and generate
# an event containing the string "A Message" for each log line matched.
file:              test.log
match:             this_pattern_here
alert_all:         tags=TAG1  message=A Message

# Match any line containing a numerical value in "test.log" and generate
# an event containing the text of the actual line matched.  The "active:"
# directive restricts generating events to:
# - 06:00 - 22:00 any day of the week.
# - 22:30 - 23:59 on Mondays (day 1).
file:              test.log
match:             \d+
active:            0123456;06:00-22:00,1;22:30-23:59
alert_all:         tags=NUM1

file:              test.log
match:             that_pattern
alert_n:           tags=EVERY  threshold=2  seconds=10  message=too many matches

file:              test.log
match:             another_pattern
alert_count:       tags=COUNT  seconds=10

file:              test.log
match:             .
alert_inactive:    tags=INACTIVE  seconds=10  message=file has not been updated

ps_command:        ps -fe

process:           /Applications/Minecraft.app/Contents/MacOS/JavaApplicationStub
active:            0123456;00:00-23:59
alert_running:     tags=MINECRAFT  min=1  max=1  message=Minecraft is no longer running

run:               command=df -i  extract=\s+([0-9\.]+)%\s+\d+\s+\d+\s+([0-9\.]+)%\s+(\S+)
alert_if:          tags=FS  match=3,/  upper_limit=1,95  message=Filesystem / exceeded 95 pct space utilisation
alert_if:          tags=FS  match=3,/  upper_limit=2,95  message=Filesystem / has used over 95 pct of its inodes
alert_metric:      tags=FS_MET  match=3,/  metric=1

run:               command=uptime  extract=(\S+) averages:\s+([0-9\.]+)\s+
alert_if:          tags=LOAD  match=1,load  upper_limit=2,4  message=Load average is over 4
active:            0123456;00:00-21:00
alert_metric:      tags=LOAD_MET  match=1,load  metric=2

run:               command=vm_stat  extract=(\S+) free:\s+(\d+)
alert_metric:      tags=MEM  match=1,Pages  metric=2
